@{
    ViewData["Title"] = "Home Page";
}

<amp-carousel id="custom-button" width="400" height="200" class="size" layout="responsive" style="padding-top:0%;" type="slides" autoplay delay="2000">

    <amp-img src="https://static.ajkerdeal.com/img/banner/mobilehometop/offer22310545456554544545564545432545124526329.jpg" width="400" height="200" layout="responsive" alt="a sample image"></amp-img>
    <amp-img src="https://static.ajkerdeal.com/img/banner/mobilehometop/offer5002545899995454545545454555555202.jpg65" width="400" height="200" layout="responsive" alt="another sample image"></amp-img>
    <amp-img src="https://static.ajkerdeal.com/img/banner/mobilehometop/offer3541688888852222222225833.jpg" width="400" height="200" layout="responsive" alt="and another sample image"></amp-img>
</amp-carousel>
<div class="col-12">
    <div class="head-content col-lg-12" style="height:100px;width:auto;background-color:#2d8ac7">
        <div class="left-content"style="height:100px;">
            <h3 style="font-size: 14px;color: white;font-weight: 100;background-color: black;margin: 20px 78px;padding: 2px 12px;border-radius: 6px;">নতুন</h3>
            <span style="font-size:18px;color:white;margin:20px 45px;">Mountain BMX</span>
        </div>
        <div class="right-content" style="height:100px; float:right;padding: 0px 20px;">
            <amp-img src="https://static.ajkerdeal.com/images/amp/cycle.png" width="100" height="100" layout="responsive"style="width:140px;margin-top:-2px"></amp-img>
        </div>
    </div>
    <div class="bottom-content">
        <div class="bottom-content-left col-lg-6" style="background-color:#6755df;height:100px;width:50%;">
            <h3 style="font-size:14px;font-weight: 100;color:white;position: absolute;left: 30px;margin-top: 12px;background-color:black;padding: 2px 10px;border-radius: 4px;">ট্রেন্ডি</h3>
            <span style="color: white;position: relative;top: 46px;left: 35px;font-family: sans-serif;font-size: 18px;">Teken <br /> Jacket</span>
            <amp-img width="100" height="100" layout="responsive" src="https://static.ajkerdeal.com/images/amp/hoodie.png" style="height: 100px;width: 100px;position: absolute;left: 100px;margin-top: -30px;"></amp-img>
        </div>
        <div class="bottom-content-right col-lg-6" style="background-color:#fdc123;height:100px;width:50%;">
            <h3 style="font-size:14px;font-weight: 100;color:white;position: absolute;background-color:black;padding: 2px 10px;border-radius: 4px;margin-top: 14px;margin-left: 30px;">ট্রেন্ডি</h3>
            <span style="color: white;position: relative;top: 46px;left: 35px;font-family: sans-serif;font-size: 18px;">Teken <br /> Jacket</span>
            <amp-img width="100" height="100" layout="responsive" src="https://static.ajkerdeal.com/images/amp/shoe.png" style="height: 100px;width: 100px;position: absolute;margin-top: -30px;right:10px;"></amp-img>
        </div>
    </div>
</div>

<div class="flash-deal-container" style="height:200px; width:auto;background-color:#ffc83d; margin-top:125px">
    <div class="flash-deal-title" style="background: linear-gradient(140deg,white 35% 35%,#ffc83d 35% 65%);width:100%;height: 34px;">
        <h2 style="font-size:medium;text-transform:none;margin-left: 12px;position: relative;top: 8px;">ফ্লাশ⚡ডিল</h2>
        <div class="recommendations" style="margin-top: 40px;width:100%">
            <amp-carousel width="auto" height="160" layout="fixed-height" type="carousel">
                <a href="#" role="listitem" style="width: 21%;">
                    <amp-img width="1000" height="1000" layout="responsive" alt="Apple" src="https://static.ajkerdeal.com/images/deals/200040103165532/smallimage1.jpg"></amp-img>
                    <p class="name">Apple</p>
                </a>
                <a href="#" role="listitem" style="width: 21%;">
                    <amp-img width="1000" height="1000" layout="responsive" alt="Orange" src="https://static.ajkerdeal.com/images/deals/200040103165532/smallimage1.jpg"></amp-img>
                    <p class="name">Orange</p>
                </a>
                <a href="#" role="listitem" style="width: 21%;">
                    <amp-img width="1000" height="1000" layout="responsive" alt="Pear" src="https://static.ajkerdeal.com/images/deals/200040103165532/smallimage1.jpg"></amp-img>
                    <p class="name">Pear</p>
                </a>
                <a href="#" role="listitem" style="width: 21%;">
                    <amp-img width="1000" height="1000" layout="responsive" alt="Banana" src="https://static.ajkerdeal.com/images/deals/200040103165532/smallimage1.jpg"></amp-img>
                    <p class="name">Banana</p>
                </a>
                <a href="#" role="listitem" style="width: 21%;">
                    <amp-img width="1000" height="1000" layout="responsive" alt="Apple" src="https://static.ajkerdeal.com/images/deals/200040103165532/smallimage1.jpg"></amp-img>
                    <p class="name">Apple 2</p>
                </a>
                <a href="#" role="listitem" style="width: 21%;">
                    <amp-img width="1000" height="1000" layout="responsive" alt="Orange" src="https://static.ajkerdeal.com/images/deals/200040103165532/smallimage1.jpg"></amp-img>
                    <p class="name">Orange 2</p>
                </a>
                <a href="#" role="listitem" style="width: 21%;">
                    <amp-img width="1000" height="1000" layout="responsive" alt="Pear" src="https://static.ajkerdeal.com/images/deals/200040103165532/smallimage1.jpg"></amp-img>
                    <p class="name">Pear 2</p>
                </a>
                <a href="#" role="listitem" style="width: 21%;">
                    <amp-img width="1000" height="1000" layout="responsive" alt="Banana" src="https://static.ajkerdeal.com/images/deals/200040103165532/smallimage1.jpg"></amp-img>
                    <p class="name">Banana 2</p>
                </a>
            </amp-carousel>
        </div>
    </div>
</div>
@*............................................HOT DEAL......................................*@
<div class="flash-deal-container" style="height:200px; width:auto;background-color:#f24245; margin-top:25px">
    <div class="flash-deal-title" style="background: linear-gradient(140deg,white 35% 35%,#f24245 35% 65%);width:100%;height: 34px;">
        <h2 style="font-size:medium;text-transform:none;margin-left: 12px;position: relative;top: 8px;">HOT⚡DEAL</h2>
        <div class="recommendations" style="margin-top: 40px;width:100%">
            <amp-carousel width="auto" height="160" layout="fixed-height" type="carousel">
                <a href="#" role="listitem" style="width: 21%;">
                    <amp-img width="1000" height="1000" layout="responsive" alt="Apple" src="https://static.ajkerdeal.com/images/deals/385901511124927/smallimage1.jpg"></amp-img>
                    <p class="name">Apple</p>
                </a>
                <a href="#" role="listitem" style="width: 21%;">
                    <amp-img width="1000" height="1000" layout="responsive" alt="Orange" src="https://static.ajkerdeal.com/images/deals/385901511124927/smallimage1.jpg"></amp-img>
                    <p class="name">Orange</p>
                </a>
                <a href="#" role="listitem" style="width: 21%;">
                    <amp-img width="1000" height="1000" layout="responsive" alt="Pear" src="https://static.ajkerdeal.com/images/deals/200040103165532/smallimage1.jpg"></amp-img>
                    <p class="name">Pear</p>
                </a>
                <a href="#" role="listitem" style="width: 21%;">
                    <amp-img width="1000" height="1000" layout="responsive" alt="Banana" src="https://static.ajkerdeal.com/images/deals/200040103165532/smallimage1.jpg"></amp-img>
                    <p class="name">Banana</p>
                </a>
                <a href="#" role="listitem" style="width: 21%;">
                    <amp-img width="1000" height="1000" layout="responsive" alt="Apple" src="https://static.ajkerdeal.com/images/deals/200040103165532/smallimage1.jpg"></amp-img>
                    <p class="name">Apple 2</p>
                </a>
                <a href="#" role="listitem" style="width: 21%;">
                    <amp-img width="1000" height="1000" layout="responsive" alt="Orange" src="https://static.ajkerdeal.com/images/deals/200040103165532/smallimage1.jpg"></amp-img>
                    <p class="name">Orange 2</p>
                </a>
                <a href="#" role="listitem" style="width: 21%;">
                    <amp-img width="1000" height="1000" layout="responsive" alt="Pear" src="https://static.ajkerdeal.com/images/deals/200040103165532/smallimage1.jpg"></amp-img>
                    <p class="name">Pear 2</p>
                </a>
                <a href="#" role="listitem" style="width: 21%;">
                    <amp-img width="1000" height="1000" layout="responsive" alt="Banana" src="https://static.ajkerdeal.com/images/deals/200040103165532/smallimage1.jpg"></amp-img>
                    <p class="name">Banana 2</p>
                </a>
            </amp-carousel>
        </div>
    </div>
</div>

<div class="brabd-container" style="margin-top:25px;padding: 14px 6px;">
    <div class="brabd-container-left">
        <h3 style="font-size:medium">ফিচার্ড  ব্র্যান্ড</h3>
        <h3 style="font-size:medium;float:right"><a href="#">সকল ></a></h3>
    </div>
</div>
<div class="recommendations" style="margin-top: 60px;width:100%">

    <div class="carousel">
        <amp-carousel width="auto" height="140" layout="fixed-height" type="carousel">
            <a href="#" role="listitem" style="width: 21%;">
                <amp-img width="155" height="65" layout="responsive" alt="Apple" src="https://static.ajkerdeal.com/img/brand/535.png"></amp-img>

            </a>
            <a href="#" role="listitem" style="width: 21%;">
                <amp-img width="155" height="65" layout="responsive" alt="Orange" src="https://static.ajkerdeal.com/img/brand/536.png"></amp-img>

            </a>
            <a href="#" role="listitem" style="width: 21%;">
                <amp-img width="155" height="65" layout="responsive" alt="Pear" src="https://static.ajkerdeal.com/img/brand/538.png"></amp-img>

            </a>
            <a href="#" role="listitem" style="width: 21%;">
                <amp-img width="155" height="65" layout="responsive" alt="Banana" src="https://static.ajkerdeal.com/img/brand/539.png"></amp-img>

            </a>
            <a href="#" role="listitem" style="width: 21%;">
                <amp-img width="155" height="65" layout="responsive" alt="Apple" src="https://static.ajkerdeal.com/img/brand/525.png"></amp-img>

            </a>
            <a href="#" role="listitem" style="width: 21%;">
                <amp-img width="155" height="65" layout="responsive" alt="Orange" src="https://static.ajkerdeal.com/img/brand/526.png"></amp-img>

            </a>
            <a href="#" role="listitem" style="width: 21%;">
                <amp-img width="155" height="65" layout="responsive" alt="Pear" src="https://static.ajkerdeal.com/img/brand/527.png"></amp-img>

            </a>
            <a href="#" role="listitem" style="width: 21%;">
                <amp-img width="155" height="65" layout="responsive" alt="Banana" src="https://static.ajkerdeal.com/img/brand/529.png"></amp-img>

            </a>
        </amp-carousel>
    </div>
</div>

@*..........................................clasified deal..............................................*@
<div class="flash-deal-container" style="height:200px; width:auto;background-color:#e5e09c; margin-top:-55px">
    <div class="flash-deal-title" style="background-color: #e5e09c;width:100%;height: 34px;">
        <h2 style="font-size:medium;text-transform:none;margin-left: 12px;position: relative;padding: 14px 6px;">ক্লাসিফাইড⚡ডিল<span style="float:right">সকল></span></h2>
        <div class="recommendations">
            <amp-carousel width="auto" height="160" layout="fixed-height" type="carousel">
                <a href="#" role="listitem" style="width: 21%;">
                    <amp-img width="1000" height="1000" layout="responsive" alt="Apple" src="https://static.ajkerdeal.com/images/deals/385901511124927/smallimage1.jpg"></amp-img>
                    <p class="name">Apple</p>
                </a>
                <a href="#" role="listitem" style="width: 21%;">
                    <amp-img width="1000" height="1000" layout="responsive" alt="Orange" src="https://static.ajkerdeal.com/images/deals/385901511124927/smallimage1.jpg"></amp-img>
                    <p class="name">Orange</p>
                </a>
                <a href="#" role="listitem" style="width: 21%;">
                    <amp-img width="1000" height="1000" layout="responsive" alt="Pear" src="https://static.ajkerdeal.com/images/deals/200040103165532/smallimage1.jpg"></amp-img>
                    <p class="name">Pear</p>
                </a>
                <a href="#" role="listitem" style="width: 21%;">
                    <amp-img width="1000" height="1000" layout="responsive" alt="Banana" src="https://static.ajkerdeal.com/images/deals/200040103165532/smallimage1.jpg"></amp-img>
                    <p class="name">Banana</p>
                </a>
                <a href="#" role="listitem" style="width: 21%;">
                    <amp-img width="1000" height="1000" layout="responsive" alt="Apple" src="https://static.ajkerdeal.com/images/deals/200040103165532/smallimage1.jpg"></amp-img>
                    <p class="name">Apple 2</p>
                </a>
                <a href="#" role="listitem" style="width: 21%;">
                    <amp-img width="1000" height="1000" layout="responsive" alt="Orange" src="https://static.ajkerdeal.com/images/deals/200040103165532/smallimage1.jpg"></amp-img>
                    <p class="name">Orange 2</p>
                </a>
                <a href="#" role="listitem" style="width: 21%;">
                    <amp-img width="1000" height="1000" layout="responsive" alt="Pear" src="https://static.ajkerdeal.com/images/deals/200040103165532/smallimage1.jpg"></amp-img>
                    <p class="name">Pear 2</p>
                </a>
                <a href="#" role="listitem" style="width: 21%;">
                    <amp-img width="1000" height="1000" layout="responsive" alt="Banana" src="https://static.ajkerdeal.com/images/deals/200040103165532/smallimage1.jpg"></amp-img>
                    <p class="name">Banana 2</p>
                </a>
            </amp-carousel>
        </div>
    </div>
</div>

@*.............................product category......................................*@
<div class="brabd-container" style="margin-top:25px;height:62px;width:auto;background-color:#dfeef3;padding: 22px 14px;">
    <div class="brabd-container-left">
        <h3 style="font-size:medium">শীতের পোশাক</h3>
        <h3 style="font-size:medium;float:right">
            @*<amp-state id="allProducts"
                src="/static/samples/json/related_products.json"></amp-state>*@
            @*on="change:AMP.setState({
                filteredProducts: allProducts.items.filter(a=>
                event.value == 'all' ? true : a.color == event.value)
                })"*@
            <select>
                <option value="ক্যাটাগরি"
                        selected>
                    ক্যাটাগরি
                </option>
                <option value="red">red</option>
            </select>
            <amp-list height="0"
                      [height]="(40 + 24) * filteredProducts.length"
                      layout="fixed-height"
                      src="/static/samples/json/related_products.json"
                      [src]="filteredProducts"
                      binding="no">
                <template type="amp-mustache">
                    <amp-img src="{{img}}"
                             layout="fixed"
                             width="60"
                             height="40"
                             alt="{{name}}"></amp-img>
                    {{name}}
                </template>
            </amp-list>
            </a>
        </h3>
    </div>
</div>

<div class="bottom-content">
    <div class="bottom-content-left col-lg-6" style="background-color:#6755df;height:200px;width:40%;">
        <amp-carousel id="hero-images" width="1024" height="1250" layout="responsive" type="slides" autoplay>
            <a href="#">
                <amp-img src="https://static.ajkerdeal.com/img/banner/mobilehometop/offer22310545456554544545564545432545124526329.jpg" width="300" height="200" layout="fill" alt="product hero 1" attribution="visualhunt"></amp-img>

                <amp-fit-text class="caption" width="300" height="200" layout="responsive" max-font-size="36">
                    @*The 10 best Apples*@
                </amp-fit-text>
            </a>
            <a href="#">
                <amp-img src="https://static.ajkerdeal.com/img/banner/mobilehometop/offer5002545899995454545545454555555202.jpg65" width="300" height="200" attribution="visualhunt"></amp-img>
                <amp-fit-text class="caption" width="300" height="200" layout="responsive" max-font-size="36">
                    @*So much orange!*@
                </amp-fit-text>
            </a>
            <a href="#">
                <amp-img src="https://static.ajkerdeal.com/img/banner/mobilehometop/offer3541688888852222222225833.jpg" width="300" height="200" layout="fill" alt="product hero 3" attribution="visualhunt"></amp-img>
                <amp-fit-text class="caption" width="300" height="200" layout="responsive" max-font-size="36">
                    @*So healthy!*@
                </amp-fit-text>
            </a>
        </amp-carousel>
    </div>
    <div class="bottom-content-right col-lg-6" style="background-color:#fdc123;height:200px;width:60%;">
        <div class="top-carosel" style="margin-top: 10px;margin-left: 6px;">
            <amp-carousel width="auto" height="182" layout="fixed-height" type="carousel">
                <a href="#" role="listitem" style="width: 21%;">
                    <amp-img width="1000" height="1000" layout="responsive" alt="Apple" src="https://static.ajkerdeal.com/images/deals/385901511124927/smallimage1.jpg"></amp-img>
                    <p class="name">Apple</p>
                </a>
                <a href="#" role="listitem" style="width: 21%;">
                    <amp-img width="1000" height="1000" layout="responsive" alt="Orange" src="https://static.ajkerdeal.com/images/deals/385901511124927/smallimage1.jpg"></amp-img>
                    <p class="name">Orange</p>
                </a>
                <a href="#" role="listitem" style="width: 21%;">
                    <amp-img width="1000" height="1000" layout="responsive" alt="Pear" src="https://static.ajkerdeal.com/images/deals/200040103165532/smallimage1.jpg"></amp-img>
                    <p class="name">Pear</p>
                </a>
                <a href="#" role="listitem" style="width: 21%;">
                    <amp-img width="1000" height="1000" layout="responsive" alt="Banana" src="https://static.ajkerdeal.com/images/deals/200040103165532/smallimage1.jpg"></amp-img>
                    <p class="name">Banana</p>
                </a>
                <a href="#" role="listitem" style="width: 21%;">
                    <amp-img width="1000" height="1000" layout="responsive" alt="Banana" src="https://static.ajkerdeal.com/images/deals/200040103165532/smallimage1.jpg"></amp-img>
                    <p class="name">Banana</p>
                </a>
                <a href="#" role="listitem" style="width: 21%;">
                    <amp-img width="1000" height="1000" layout="responsive" alt="Banana" src="https://static.ajkerdeal.com/images/deals/200040103165532/smallimage1.jpg"></amp-img>
                    <p class="name">Banana</p>
                </a>
                @*...............................line break...............................*@
                <br />

                    <a href="#" role="listitem" style="width: 21%;margin-left: 0px;margin-right: 8px;margin-top: 7px;">
                        <amp-img width="1000" height="1000" layout="responsive" alt="Banana" src="https://static.ajkerdeal.com/images/deals/200040103165532/smallimage1.jpg"></amp-img>
                        <p class="name">Banana</p>
                    </a>
                    <a href="#" role="listitem" style="width: 21%;margin-left: 0px;margin-right: 8px;margin-top: 7px;">
                        <amp-img width="1000" height="1000" layout="responsive" alt="Banana" src="https://static.ajkerdeal.com/images/deals/200040103165532/smallimage1.jpg"></amp-img>
                        <p class="name">Banana</p>
                    </a>
                    <a href="#" role="listitem" style="width: 21%;margin-left: 0px;margin-right: 8px;margin-top: 7px;">
                        <amp-img width="1000" height="1000" layout="responsive" alt="Apple" src="https://static.ajkerdeal.com/images/deals/200040103165532/smallimage1.jpg"></amp-img>
                        <p class="name">Apple 2</p>
                    </a>
                    <a href="#" role="listitem" style="width: 21%;margin-left: 0px;margin-right: 8px;margin-top: 7px;">
                        <amp-img width="1000" height="1000" layout="responsive" alt="Orange" src="https://static.ajkerdeal.com/images/deals/200040103165532/smallimage1.jpg"></amp-img>
                        <p class="name">Orange 2</p>
                    </a>
                    <a href="#" role="listitem" style="width: 21%;margin-left: 0px;margin-right: 8px;margin-top: 7px;">
                        <amp-img width="1000" height="1000" layout="responsive" alt="Pear" src="https://static.ajkerdeal.com/images/deals/200040103165532/smallimage1.jpg"></amp-img>
                        <p class="name">Pear 2</p>
                    </a>
                    <a href="#" role="listitem" style="width: 21%;margin-left: 0px;margin-right: 8px;margin-top: 7px;">
                        <amp-img width="1000" height="1000" layout="responsive" alt="Banana" src="https://static.ajkerdeal.com/images/deals/200040103165532/smallimage1.jpg"></amp-img>
                        <p class="name">Banana 2</p>
                    </a>
               
            </amp-carousel>
        </div>
        
    </div>

</div>

@*<div class="gadget-title" style="background-color:aqua;">
    <div class="gadget-title-left">
        <h3 style="font-size: 16px;">ফিচার্ড  ব্র্যান্ড</h3>
        <h3 style="font-size: 16px;float: right;"><a href="#">সকল ></a></h3>
    </div>
</div>*@
@*@*<div class="gadget-product-container" style="height:200px;width:auto;margin-top: 220px;">
    <amp-carousel width="auto" height="215" layout="fixed-height" type="carousel">
        <a href="#" role="listitem" style="width: 21%;">
            <amp-img width="1000" height="1000" layout="responsive" alt="Apple" src="https://static.ajkerdeal.com/images/deals/385901511124927/smallimage1.jpg"></amp-img>
            <p class="name">Apple</p>
        </a>
        <a href="#" role="listitem" style="width: 21%;">
            <amp-img width="1000" height="1000" layout="responsive" alt="Orange" src="https://static.ajkerdeal.com/images/deals/385901511124927/smallimage1.jpg"></amp-img>
            <p class="name">Orange</p>
        </a>
        <a href="#" role="listitem" style="width: 21%;">
            <amp-img width="1000" height="1000" layout="responsive" alt="Pear" src="https://static.ajkerdeal.com/images/deals/200040103165532/smallimage1.jpg"></amp-img>
            <p class="name">Pear</p>
        </a>
        <a href="#" role="listitem" style="width: 21%;">
            <amp-img width="1000" height="1000" layout="responsive" alt="Banana" src="https://static.ajkerdeal.com/images/deals/200040103165532/smallimage1.jpg"></amp-img>
            <p class="name">Banana</p>
        </a>
        <a href="#" role="listitem" style="width: 21%;">
            <amp-img width="1000" height="1000" layout="responsive" alt="Banana" src="https://static.ajkerdeal.com/images/deals/200040103165532/smallimage1.jpg"></amp-img>
            <p class="name">Banana</p>
        </a>
        <a href="#" role="listitem" style="width: 21%;">
            <amp-img width="1000" height="1000" layout="responsive" alt="Banana" src="https://static.ajkerdeal.com/images/deals/200040103165532/smallimage1.jpg"></amp-img>
            <p class="name">Banana</p>
        </a>
        @*...............................line break...............................*@
        @*<br />
            <a href="#" role="listitem" style="width: 21%;margin-left: 0px;margin-right: 8px;margin-top: 7px;">
                <amp-img width="1000" height="1000" layout="responsive" alt="Banana" src="https://static.ajkerdeal.com/images/deals/200040103165532/smallimage1.jpg"></amp-img>
                <p class="name">Banana</p>
            </a>
            <a href="#" role="listitem" style="width: 21%;margin-left: 0px;margin-right: 8px;margin-top: 7px;">
                <amp-img width="1000" height="1000" layout="responsive" alt="Banana" src="https://static.ajkerdeal.com/images/deals/200040103165532/smallimage1.jpg"></amp-img>
                <p class="name">Banana</p>
            </a>
            <a href="#" role="listitem" style="width: 21%;margin-left: 0px;margin-right: 8px;margin-top: 7px;">
                <amp-img width="1000" height="1000" layout="responsive" alt="Apple" src="https://static.ajkerdeal.com/images/deals/200040103165532/smallimage1.jpg"></amp-img>
                <p class="name">Apple 2</p>
            </a>
            <a href="#" role="listitem" style="width: 21%;margin-left: 0px;margin-right: 8px;margin-top: 7px;">
                <amp-img width="1000" height="1000" layout="responsive" alt="Orange" src="https://static.ajkerdeal.com/images/deals/200040103165532/smallimage1.jpg"></amp-img>
                <p class="name">Orange 2</p>
            </a>
            <a href="#" role="listitem" style="width: 21%;margin-left: 0px;margin-right: 8px;margin-top: 7px;">
                <amp-img width="1000" height="1000" layout="responsive" alt="Pear" src="https://static.ajkerdeal.com/images/deals/200040103165532/smallimage1.jpg"></amp-img>
                <p class="name">Pear 2</p>
            </a>
            <a href="#" role="listitem" style="width: 21%;margin-left: 0px;margin-right: 8px;margin-top: 7px;">
                <amp-img width="1000" height="1000" layout="responsive" alt="Banana" src="https://static.ajkerdeal.com/images/deals/200040103165532/smallimage1.jpg"></amp-img>
                <p class="name">Banana 2</p>
            </a>
    </amp-carousel>
</div>*@



<div style="height:125px;width:auto; background-image: linear-gradient(to right, #033ca6 , #4277eb);margin-top: 214px;">
    <h3 style="color: white;text-align: center;font-size: 14px;padding-top: 13px;height: 40px;width: 80px;background: black;margin: auto;position: relative;top: 10px;border-radius: 10px;">ইভেন্ট</h3>
    <h3 style="font-size:18px;text-align: center;margin-top: 20px;color: white;margin-left: 60px;font-weight: 200;">
        নতুন ধামাকা বৈশাখী<br />গ্যাজেটস &nbsp;!
    </h3>
</div>
<div class="gadget-fest-container" style="margin-top: 15px;height: 50px;background-color: #fcb002;">
    <h3 style="font-size:medium;padding: 13px 13px;">শীতের পোশাক</h3>
    <h3 style="font-size:medium;float:right;padding: 15px 13px;">
        @*<amp-state id="allProducts"
            src="/static/samples/json/related_products.json"></amp-state>*@
        @*on="change:AMP.setState({
            filteredProducts: allProducts.items.filter(a=>
            event.value == 'all' ? true : a.color == event.value)
            })"*@
        <select>
            <option value="ক্যাটাগরি"
                    selected>
                ক্যাটাগরি
            </option>
            <option value="red">red</option>
        </select>
        <amp-list height="0"
                  [height]="(40 + 24) * filteredProducts.length"
                  layout="fixed-height"
                  src="/static/samples/json/related_products.json"
                  [src]="filteredProducts"
                  binding="no">
            <template type="amp-mustache">
                <amp-img src="{{img}}"
                         layout="fixed"
                         width="60"
                         height="40"
                         alt="{{name}}"></amp-img>
                {{name}}
            </template>
        </amp-list>
        </a>
    </h3>
</div>

<div class="gadget-product-container" style="height:200px;width:auto;margin-top: 15px;;">
    <amp-carousel width="auto" height="215" layout="fixed-height" type="carousel">
        <a href="#" role="listitem" style="width: 21%;">
            <amp-img width="1000" height="1000" layout="responsive" alt="Apple" src="https://static.ajkerdeal.com/images/deals/385901511124927/smallimage1.jpg"></amp-img>
            <p class="name">Apple</p>
        </a>
        <a href="#" role="listitem" style="width: 21%;">
            <amp-img width="1000" height="1000" layout="responsive" alt="Orange" src="https://static.ajkerdeal.com/images/deals/385901511124927/smallimage1.jpg"></amp-img>
            <p class="name">Orange</p>
        </a>
        <a href="#" role="listitem" style="width: 21%;">
            <amp-img width="1000" height="1000" layout="responsive" alt="Pear" src="https://static.ajkerdeal.com/images/deals/200040103165532/smallimage1.jpg"></amp-img>
            <p class="name">Pear</p>
        </a>
        <a href="#" role="listitem" style="width: 21%;">
            <amp-img width="1000" height="1000" layout="responsive" alt="Banana" src="https://static.ajkerdeal.com/images/deals/200040103165532/smallimage1.jpg"></amp-img>
            <p class="name">Banana</p>
        </a>
        <a href="#" role="listitem" style="width: 21%;">
            <amp-img width="1000" height="1000" layout="responsive" alt="Banana" src="https://static.ajkerdeal.com/images/deals/200040103165532/smallimage1.jpg"></amp-img>
            <p class="name">Banana</p>
        </a>
        <a href="#" role="listitem" style="width: 21%;">
            <amp-img width="1000" height="1000" layout="responsive" alt="Banana" src="https://static.ajkerdeal.com/images/deals/200040103165532/smallimage1.jpg"></amp-img>
            <p class="name">Banana</p>
        </a>
        @*...............................line break...............................*@
        <br />
                        <a href="#" role="listitem" style="width: 21%;margin-left: 0px;margin-right: 8px;margin-top: 7px;">
                            <amp-img width="1000" height="1000" layout="responsive" alt="Banana" src="https://static.ajkerdeal.com/images/deals/200040103165532/smallimage1.jpg"></amp-img>
                            <p class="name">Banana</p>
                        </a>
                        <a href="#" role="listitem" style="width: 21%;margin-left: 0px;margin-right: 8px;margin-top: 7px;">
                            <amp-img width="1000" height="1000" layout="responsive" alt="Banana" src="https://static.ajkerdeal.com/images/deals/200040103165532/smallimage1.jpg"></amp-img>
                            <p class="name">Banana</p>
                        </a>
                        <a href="#" role="listitem" style="width: 21%;margin-left: 0px;margin-right: 8px;margin-top: 7px;">
                            <amp-img width="1000" height="1000" layout="responsive" alt="Apple" src="https://static.ajkerdeal.com/images/deals/200040103165532/smallimage1.jpg"></amp-img>
                            <p class="name">Apple 2</p>
                        </a>
                        <a href="#" role="listitem" style="width: 21%;margin-left: 0px;margin-right: 8px;margin-top: 7px;">
                            <amp-img width="1000" height="1000" layout="responsive" alt="Orange" src="https://static.ajkerdeal.com/images/deals/200040103165532/smallimage1.jpg"></amp-img>
                            <p class="name">Orange 2</p>
                        </a>
                        <a href="#" role="listitem" style="width: 21%;margin-left: 0px;margin-right: 8px;margin-top: 7px;">
                            <amp-img width="1000" height="1000" layout="responsive" alt="Pear" src="https://static.ajkerdeal.com/images/deals/200040103165532/smallimage1.jpg"></amp-img>
                            <p class="name">Pear 2</p>
                        </a>
                        <a href="#" role="listitem" style="width: 21%;margin-left: 0px;margin-right: 8px;margin-top: 7px;">
                            <amp-img width="1000" height="1000" layout="responsive" alt="Banana" src="https://static.ajkerdeal.com/images/deals/200040103165532/smallimage1.jpg"></amp-img>
                            <p class="name">Banana 2</p>
                        </a>
                </amp-carousel>
            </div>
            @*..............................gadgetfest..............................*@
        <div class="gadget-container" style="margin-top: 25px;height: 50px;background-color: #d43434;">
            <h3 style="font-size:medium;padding: 13px 13px;">শীতের পোশাক</h3>
            <h3 style="font-size:medium;float:right;padding: 15px 13px;">
                @*<amp-state id="allProducts"
                    src="/static/samples/json/related_products.json"></amp-state>*@
                @*on="change:AMP.setState({
                    filteredProducts: allProducts.items.filter(a=>
                    event.value == 'all' ? true : a.color == event.value)
                    })"*@
                <select>
                    <option value="ক্যাটাগরি"
                            selected>
                        ক্যাটাগরি
                    </option>
                    <option value="red">red</option>
                </select>
                <amp-list height="0"
                          [height]="(40 + 24) * filteredProducts.length"
                          layout="fixed-height"
                          src="/static/samples/json/related_products.json"
                          [src]="filteredProducts"
                          binding="no">
                    <template type="amp-mustache">
                        <amp-img src="{{img}}"
                                 layout="fixed"
                                 width="60"
                                 height="40"
                                 alt="{{name}}"></amp-img>
                        {{name}}
                    </template>
                </amp-list>
                </a>
            </h3>
        </div>


        <div class="product-container" style="height:500px;background-color:aliceblue">
            <div class="product-block" style="height:500px;background-color:aliceblue;width:auto">
                <a href="#" role="listitem" style="width: 25%;background-color: white;padding: 15px;">
                    <amp-img width="500" height="400" layout="responsive" alt="Apple" src="https://static.ajkerdeal.com/images/deals/385901511124927/smallimage1.jpg" style="width:80px"></amp-img>
                    <p class="name">Apple</p>
                </a>
                <a href="#" role="listitem" style="width: 25%;background-color: white;padding: 15px;">
                    <amp-img width="1000" height="800" layout="responsive" alt="Orange" src="https://static.ajkerdeal.com/images/deals/385901511124927/smallimage1.jpg" style="width:80px"></amp-img>
                    <p class="name">Orange</p>
                </a>
                <a href="#" role="listitem" style="width: 25%;background-color: white;padding: 15px;">
                    <amp-img width="1000" height="800" layout="responsive" alt="Pear" src="https://static.ajkerdeal.com/images/deals/200040103165532/smallimage1.jpg" style="width:80px"></amp-img>
                    <p class="name">Pear</p>
                </a>
                <a href="#" role="listitem" style="width: 25%;background-color: white;padding: 15px;">
                    <amp-img width="1000" height="800" layout="responsive" alt="Banana" src="https://static.ajkerdeal.com/images/deals/200040103165532/smallimage1.jpg" style="width:80px"></amp-img>
                    <p class="name">Banana</p>
                </a>
                <a href="#" role="listitem" style="width: 25%;background-color: white;padding: 15px;">
                    <amp-img width="1000" height="800" layout="responsive" alt="Apple" src="https://static.ajkerdeal.com/images/deals/200040103165532/smallimage1.jpg" style="width:80px"></amp-img>
                    <p class="name">Apple 2</p>
                </a>
                <a href="#" role="listitem" style="width: 25%;background-color: white;padding: 15px;">
                    <amp-img width="1000" height="800" layout="responsive" alt="Orange" src="https://static.ajkerdeal.com/images/deals/200040103165532/smallimage1.jpg" style="width:80px"></amp-img>
                    <p class="name">Orange 2</p>
                </a>
                <a href="#" role="listitem" style="width: 25%;background-color: white;padding: 15px;">
                    <amp-img width="1000" height="800" layout="responsive" alt="Pear" src="https://static.ajkerdeal.com/images/deals/200040103165532/smallimage1.jpg" style="width:80px"></amp-img>
                    <p class="name">Pear 2</p>
                </a>
                <a href="#" role="listitem" style="width: 25%;background-color: white;padding: 15px;">
                    <amp-img width="1000" height="800" layout="responsive" alt="Banana" src="https://static.ajkerdeal.com/images/deals/200040103165532/smallimage1.jpg" style="width:80px"></amp-img>
                    <p class="name">Banana 2</p>
                </a>
                <a href="#" role="listitem" style="width: 25%;background-color: white;padding: 15px;">
                    <amp-img width="500" height="400" layout="responsive" alt="Apple" src="https://static.ajkerdeal.com/images/deals/385901511124927/smallimage1.jpg" style="width:80px"></amp-img>
                    <p class="name">Apple</p>
                </a>
                <a href="#" role="listitem" style="width: 25%;background-color: white;padding: 15px;">
                    <amp-img width="1000" height="800" layout="responsive" alt="Orange" src="https://static.ajkerdeal.com/images/deals/385901511124927/smallimage1.jpg" style="width:80px"></amp-img>
                    <p class="name">Orange</p>
                </a>
                <a href="#" role="listitem" style="width: 25%;background-color: white;padding: 15px;">
                    <amp-img width="1000" height="800" layout="responsive" alt="Pear" src="https://static.ajkerdeal.com/images/deals/200040103165532/smallimage1.jpg" style="width:80px"></amp-img>
                    <p class="name">Pear</p>
                </a>
                <a href="#" role="listitem" style="width: 25%;background-color: white;padding: 15px;">
                    <amp-img width="1000" height="800" layout="responsive" alt="Banana" src="https://static.ajkerdeal.com/images/deals/200040103165532/smallimage1.jpg" style="width:80px"></amp-img>
                    <p class="name">Banana</p>
                </a>
                <a href="#" role="listitem" style="width: 25%;background-color: white;padding: 15px;">
                    <amp-img width="1000" height="800" layout="responsive" alt="Apple" src="https://static.ajkerdeal.com/images/deals/200040103165532/smallimage1.jpg" style="width:80px"></amp-img>
                    <p class="name">Apple 2</p>
                </a>
                <a href="#" role="listitem" style="width: 25%;background-color: white;padding: 15px;">
                    <amp-img width="1000" height="800" layout="responsive" alt="Orange" src="https://static.ajkerdeal.com/images/deals/200040103165532/smallimage1.jpg" style="width:80px"></amp-img>
                    <p class="name">Orange 2</p>
                </a>
                <a href="#" role="listitem" style="width: 25%;background-color: white;padding: 15px;">
                    <amp-img width="1000" height="800" layout="responsive" alt="Pear" src="https://static.ajkerdeal.com/images/deals/200040103165532/smallimage1.jpg" style="width:80px"></amp-img>
                    <p class="name">Pear 2</p>
                </a>
                <a href="#" role="listitem" style="width: 25%;background-color: white;padding: 15px;">
                    <amp-img width="1000" height="800" layout="responsive" alt="Banana" src="https://static.ajkerdeal.com/images/deals/200040103165532/smallimage1.jpg" style="width:80px"></amp-img>
                    <p class="name">Banana 2</p>
                </a>

            </div>
            
            <div role="button" style="text-align: center;width: 310px;border-radius: 4px;background-color:#000000; margin:auto">
                <h3 style="background-color:#000000;color:white;font-size:14px;margin-top: -50px;padding: 10px 0;"> আরো প্রোডাক্ট</h3>
            </div>
        </div>

